POSTGRES_PASSWORD=your-password
POSTGRES_USER=your-username
KEYCLOAK_POSTGRES_DB_URL=your-database-url

# Keycloak Email Configuration
KC_SPI_EMAIL_SMTP_HOST=smtp.gmail.com
KC_SPI_EMAIL_SMTP_PORT=587
KC_SPI_EMAIL_SMTP_USER=your_email@gmail.com
KC_SPI_EMAIL_SMTP_PASSWORD=your_app_password
KC_SPI_EMAIL_FROM=your_email@gmail.com